<!-- ============================================ -->
<!--                 Navigation                   -->
<!-- ============================================ -->

<header id="cs-navigation">
    <!--Nav Logo-->
    <a href="" class="cs-logo" aria-label="back to home">
        <img src="../../assets/images/Logo.svg" alt="logo" width="235" height="120"
            aria-hidden="true" decoding="async">
    </a>
    <!--Top Bar-->
    <ul class="cs-top-bar">
        <li class="cs-item">
            <picture class="cs-picture">
                <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fphone-stroke-green.svg"
                    alt="icon" width="24" height="24" aria-hidden="true" decoding="async">
            </picture>
            <div class="cs-flex">
                <span class="cs-header">Call Us Now</span>
                <a href="tel:{{client.phoneForTel}}" class="cs-link">{{client.phoneFormatted}}</a>
            </div>
        </li>
        <li class="cs-item">
            <picture class="cs-picture">
                <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fmail-stroke-green.svg"
                    alt="icon" width="24" height="24" aria-hidden="true" decoding="async">
            </picture>
            <div class="cs-flex">
                <span class="cs-header">Send A Message</span>
                <a href="mailto:{{client.email}}" class="cs-link">{{client.email}}</a>
            </div>
        </li>
    </ul>
    <div class="cs-bottom-bar">
        <!--Navigation List-->
        <nav class="cs-nav" role="navigation">
            <!--Mobile Nav Toggle-->
            <button class="cs-toggle" aria-label="mobile menu toggle">
                <div class="cs-box" aria-hidden="true">
                    <span class="cs-line cs-line1" aria-hidden="true"></span>
                    <span class="cs-line cs-line2" aria-hidden="true"></span>
                    <span class="cs-line cs-line3" aria-hidden="true"></span>
                </div>
            </button>
            <!-- We need a wrapper div so we can set a fixed height on the cs-ul in case the nav list gets too long from too many dropdowns being opened and needs to have an overflow scroll. This wrapper acts as the background so it can go the full height of the screen and not cut off any overflowing nav items while the cs-ul stops short of the bottom of the screen, which keeps all nav items in view no matter how mnay there are-->
            <div class="cs-ul-wrapper">
                <ul id="cs-expanded" class="cs-ul">
                    <li class="cs-li">
                        <a href="/" class="cs-li-link {% if page.url == '/' %}cs-active{% endif %}">
                            Home
                        </a>
                    </li>
                    {% set navPages = collections.all | eleventyNavigation %}

                    {# Loop through all pages with a eleventyNavigation in the frontmatter #}
                    {% for entry in navPages %}

                    {# Define a hasChild variable to make it easier to test what navigation items are have child
                    dropdown pages #}
                    {% set hasChild = entry.children.length %}

                    {# Check the frontmatter for hideOnMobile/hideOnDesktop. Form a list of classes to be joined when
                    the item is rendered #}
                    {% set hideClasses = [] %}
                    {% if entry.hideOnMobile %}
                    {% set hideClasses = (hideClasses.push("cs-hide-on-mobile"), hideClasses) %}
                    {% endif %}
                    {% if entry.hideOnDesktop %}
                    {% set hideClasses = (hideClasses.push("cs-hide-on-desktop"), hideClasses) %}
                    {% endif %}
                

                    {# Skip rendering the blog link if collections.post is empty #}
                    {% if not (entry.url == '/blog/' and collections.post | length == 0) %}
                
                        {# If this page is a dropdown, give it the appropriate classes, icons and accessibility attributes #}
                        <li class="cs-li {% if entry.children.length %} cs-dropdown {% endif %} {{ hideClasses | join(" ") }}">
                            {% if entry.children.length %}
                                {# Dropdown handling logic #}
                                {% set activeClass = "" %}
                                {% for child in entry.children %}
                                    {% if child.url == page.url %}
                                        {% set activeClass = "cs-active" %}
                                    {% endif %}
                                {% endfor %}
                                <button class="cs-li-link cs-dropdown-button {{ activeClass }}" aria-expanded="false"
                                    aria-controls="dropdown-{{ entry.key }}" aria-label="dropdown-{{ entry.key }}">
                                    {{ entry.key }}
                                    <img class="cs-drop-icon"
                                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fdown.svg"
                                        alt="dropdown icon" width="15" height="15" decoding="async" aria-hidden="true">
                                </button>
                                <ul class="cs-drop-ul" id="dropdown-{{ entry.key }}">
                                    {% for child in entry.children %}
                                        <li class="cs-drop-li">
                                            <a href="{{ child.url }}" class="cs-li-link cs-drop-link">{{ child.key }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                {# Normal page link rendering #}
                                <a href="{{ entry.url }}"
                                    class="cs-li-link {% if entry.url == page.url %} cs-active {% endif %}" {% if
                                    entry.url == page.url %} aria-current="page" {% endif %}>
                                    {{ entry.key }}
                                </a>
                            {% endif %}
                        </li>
                
                    {% endif %}
                {% endfor %}
                </ul>
            </div>
        </nav>
        <a href="" class="cs-button-solid cs-nav-button">Contact Us</a>
    </div>
</header>
