---
title: 'About | Cedar & Salt Landscape and Gardens | Friday Harbor, WA'
description: 'Learn more about Cedar & Salt Landscape and Gardens and our commitment to creating beautiful, sustainable landscapes. Friday Harbor, WA, 98250.'
preloadImg: '/assets/images/desktop-final/landing.webp'
permalink: 'about/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-1106-1112">
    <div class="cs-container">
        <span class="cs-int-title">About Us</span>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="../../assets/images/mobile-cropped-compressed/landing-m.webp">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="../../assets/images/desktop-final/landing.webp">
        <img decoding="async" src="../../assets/images/desktop-final/landing.webp" alt="mechanic" width="1280" height="568" aria-hidden="true">
    </picture>
</div>

<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->
{% for item in collections.sidebyside1 %}
{% if item.data.title == "Our Vision for a Thriving Future" %}
<section id="sbs-1095-1112">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Top left image-->
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="{{ item.data.mobileImage1 }}">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="{{ item.data.image1 }}">
                <img loading="lazy" decoding="async" src="{{ item.data.image1 }}" alt="{{ item.data.imageAlt1 }}" width="542" height="608">
            </picture>
        </div>
        <div class="cs-content">
            <span class="cs-topper">{{ item.data.topper }}</span>
            <h2 class="cs-title">{{ item.data.title }}</h2>
            <p class="cs-text">
                {{ item.data.text1 }}
            </p>
            <p class="cs-text">
                {{ item.data.text2 }}
            </p>
            <p class="cs-text">
                {{ item.data.text3 }}
            </p>
            <h2 class="cs-title">
                {{ item.data.title2 }}
            </h2>

            <ul class="cs-list">
                {% for listItem in item.data.listItems %}
                <li class="cs-li">
                    {{ listItem }}
                </li>
                {% endfor %}
            </ul>
            <p class="cs-text">
                {{ item.data.text4 }}
            </p>
        </div>
    </div>
</section>
{% endif %}
{% endfor %}
            
<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->
{% for item in collections.sidebyside2 %}
{% if item.data.title == "Kiara McLaughlin" %}
<section id="sbsr-1100-1112">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Top left image-->
            <picture class="cs-picture cs-picture1">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="{{ item.data.mobileImage1 }}">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="{{ item.data.image1 }}">
                <img loading="lazy" decoding="async" src="{{ item.data.image1 }}" alt="{{ item.data.imageAlt1 }}" width="323" height="447">
            </picture>
            <!--Bottom right image-->
            <picture class="cs-picture cs-picture2">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="{{ item.data.mobileImage2 }}">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="{{ item.data.image2 }}">
                <img loading="lazy" decoding="async" src="{{ item.data.image2 }}" alt="{{ item.data.imageAlt2 }}" width="305" height="441">
            </picture>
        </div>
        <div class="cs-content">
            <span class="cs-topper">{{ item.data.topper }}</span>
            <h2 class="cs-title">{{ item.data.title }}</h2>
            <p class="cs-text">
                {{ item.data.text1 }}
            </p>
            <p class="cs-text">
                {{ item.data.text2 }} 
            </p>
            <p class="cs-text">
                {{ item.data.text3 }} 
            </p>
            <p class="cs-text">
                {{ item.data.text4 }}
            </p>
            <p class="cs-text">
                {{ item.data.text5 }}
                <a href="https://pamelahoke.com/" class="cs-link">https://pamelahoke.com/</a>
            </p>
        </div>
    </div>
</section>
{% endif %}
{% endfor %}
<!-- ============================================ -->
<!--                   Logos                      -->
<!-- ============================================ -->
{% for item in collections.logos %}
{% if item.data.title == "Our Partners" %}
<section id="logos-1896">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">{{ item.data.title }}</h2>
            <p class="cs-text">
                {{ item.data.text1 }}
            </p>
            <p class="cs-text">
                {{ item.data.text2 }}
            </p>
        </div>
        <div class="cs-logo-wrapper">
            {% for image in item.data.images %}
            <a href="{{ image.link}}" class="cs-logo-link" target="_blank" rel="noopener">
                <img class="cs-logo" src="{{image.image}}" alt="{{image.imageAlt}}" width="149" height="40" loading="lazy" decoding="async">
            </a>
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}
{% endfor %}

    {% include 'components/cta.html' %}

{% endblock %}
