---
title: 'About | Cedar & Salt Landscape and Gardens'
description: 'Meta description for the page'
preloadImg: '/assets/images/desktop-final/landing.webp'
permalink: 'about/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-1106-1112">
    <div class="cs-container">
        <span class="cs-int-title">About Us</span>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="../../assets/images/mobile-cropped-compressed/landing-m.webp">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="../../assets/images/desktop-final/landing.webp">
        <img decoding="async" src="../../assets/images/desktop-final/landing.webp" alt="mechanic" width="1280" height="568" aria-hidden="true">
    </picture>
</div>

<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="sbs-1095-1112">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Top left image-->
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="../../assets/images/mobile-cropped-compressed/stairs-m.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="../../assets/images/desktop-final/stairs-scaled.webp">
                <img loading="lazy" decoding="async" src="../../assets/images/desktop-final/stairs-scaled.webp" alt="mechanic" width="542" height="608">
            </picture>
        </div>
        <div class="cs-content">
            <span class="cs-topper">About Cedar and Salt</span>
            <h2 class="cs-title">Our Vision for a Thriving Future</h2>
            <p class="cs-text">
                Here at Cedar & Salt, we believe that harmony can be achieved through respectful, compassionate listening, strategizing in a collaborative spirit, and co-creating beautiful landscapes and gardens that will thrive without unnecessary costs or stress. We remain grounded in the respecting the perpetual value of visually alluring landscapes and gardens from the joy and well-being benefits they provide, and the increased value of the property. We have done the research long enough to know that both these values can be achieved while working with the native landscape and our clients’ needs and desires. 
            </p>
            <p class="cs-text">
                We look forward to creating with you the ideal vision, strategizing a plan that addresses all needs, and implementing that plan with enthusiasm and in a spirit of meaningful purpose that makes for an exceptional journey and enjoyable experience as we “grow” your vision into reality.
            </p>
            <p class="cs-text">
                In our commitment to helping create a more just, naturally thriving, regenerative and peaceful planet, Cedar & Salt is driven to help community by supporting organizations and missions that align with our core principle. We partner with organizations through sharing our knowledge and experiences, volunteering our time and resources towards specific projects that ensure that all have access to the benefits and knowledge of landscape and gardening, and educate about the importance of creating a more harmonious relationship with the natural world by working with it, not against it – working with each other, rather than against each other. We also believe in empowering the wise voices of Indigenous People and Women as part of this vision towards a more just, balanced, naturally regenerative and peaceful planet. 
            </p>
            <h2 class="cs-title">Our Core Principles</h2>
            <ul class="cs-list">
                <li class="cs-li">We have a responsibility to the planet and to future generations to practice restorative, ethical landscaping and planting.</li>
                <li class="cs-li">Partnering with private citizens, government agencies and organizations to find solutions for our shared environment ensures that together we will have greater impact than if we operate in isolation. </li>
                <li class="cs-li">When we restore and create beautiful landscapes and urban plantings, we contribute to a more peaceful world.</li>
            </ul>
            <p class="cs-text">
                These principles guide our “why” in everything we do. With Cedar & Salt, you have a team of passionate, dedicated people committed to working in harmony with you, to work with you to achieve the ideal goals in a balanced approach designed to meet your needs and harmonize with the natural land for a long-term strategy that thrives, and most importantly can sustain. This approach assures Cedar & Salt clients longevity of a thriving landscape and garden that is harmonious with the natural surroundings, leading to sensible savings and lower maintenance over time.
            </p>
        </div>
    </div>
</section>
            
<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="sbsr-1100-1112">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Top left image-->
            <picture class="cs-picture cs-picture1">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="../../assets/images/mobile-cropped-compressed/bee_m.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="../../assets/images/desktop-final/bee.jpg">
                <img loading="lazy" decoding="async" src="../../assets/images/desktop-final/bee.jpg" alt="appliance" width="323" height="447">
            </picture>
            <!--Bottom right image-->
            <picture class="cs-picture cs-picture2">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="../../assets/images/mobile-cropped-compressed/bee_lavender_m.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="../../assets/images/desktop-final/bee_lavender.jpg">
                <img loading="lazy" decoding="async" src="../../assets/images/desktop-final/bee_lavender.jpg" alt="appliance" width="305" height="441">
            </picture>
        </div>
        <div class="cs-content">
            <span class="cs-topper">About the founder</span>
            <h2 class="cs-title">Kiara McLaughlin</h2>
            <p class="cs-text">
                The heart of any true gardener, whether they work in obscurity at home, have a position in a successful company or a teaching post, has a vision that sees into a hopeful future when they plant a seed in the soil.  
            </p>
            <p class="cs-text">
                Kiara was born and raised in the Pacific Northwest.  She has been gardening since 2005, when she signed up for her first community garden space in Missoula, Montana.  Since then, she has worked in landscaping in Missoula, Bellingham, Washington, Lopez and San Juan Islands.  
            </p>
            <p class="cs-text">
                Kiara’s concern about native plants and invasive species began while she was literally working “on the ground” and noticing certain plants were outcompeting natives and watching them reproduce at alarming rates.  She started to see how difficult some are to remove once established, like English ivy or Shasta daisy.  She has been in conversation with the San Juan County Weed Control Board, San Juan County Public Works, the Washington State University Extension Office and local garden supply stores, seeking to increase awareness of what they are selling the unsuspecting home gardener.  
            </p>
            <p class="cs-text">
                Her passion is sharing the knowledge she has acquired from years of learning the best practices in harmonious, sustainable landscaping and gardening. Her vision of Cedar & Salt is grounded in this passion and the guiding principles for which the company stands.
            </p>
            <p class="cs-text">
                Kiara has always felt a deep connection to the evergreen genus Cedrus, or the “true” cedars, of which there are only three species in the world.  The Cedar of Lebanon is the chosen artwork for the company, which was drawn by artist and creative collaborator Pamela Hoke.   You can find her work here: <a href="https://pamelahoke.com/" class="cs-link">https://pamelahoke.com/</a>
            </p>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                   Logos                      -->
<!-- ============================================ -->

<section id="logos-1896">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Our Partners</h2>
            <p class="cs-text">
                We are a socially conscious organization.  We believe in participating in the solution!  Cedar and Salt supports recovery and reeducation for victims of human trafficking, environmental organizations of good repute, and the rights of domesticated and wild animals. 
            </p>
            <p class="cs-text">
                We encourage awareness of best practices regarding control and disposal of invasive plant species, and how to respectfully and responsibly interact with the natural world.  We are motivated to participate in restorative justice, and build bridges by reaching beyond the old, racially motivated paradigms that have limited our understanding of other perspectives, such as Indigenous People, who engaged in practices that successfully preserved the land for thousands of years.  
            </p>
        </div>
        <div class="cs-logo-wrapper">
            <a href="https://polarisproject.org/human-trafficking/" class="cs-logo-link" target="_blank" rel="noopener">
                <img class="cs-logo" src="../../assets/images/polaris-log_ab84dea4.png" alt="Polaris logo" width="149" height="40" loading="lazy" decoding="async">
            </a>
            <a href="https://www.fvlt.org/" class="cs-logo-link"  target="_blank" rel="noopener">
                <img class="cs-logo" src="../../assets/images/6436115698ed5ed18ef8b0e7_fvlt-logo-2023-white-opt.svg" alt="Five valleys land trust logo" width="149" height="40" loading="lazy" decoding="async">
            </a>
            <a href="https://www.nature.org/en-us/" class="cs-logo-link"  target="_blank" rel="noopener">
                <img class="cs-logo" src="../../assets/images/tnc-logo-primary-registered-dark-text (1).svg" alt="The Nature Conservancy Logo" width="149" height="40" loading="lazy" decoding="async">
            </a>
        </div>
    </div>
</section>

    {% include 'components/cta.html' %}

{% endblock %}
