---
title: "Services & Gallery | Cedar & Salt Landscape and Gardens | Friday Harbor, WA"
description: "On this page you can see our services and gallery. We offer a wide range of services, so if you don't see what you're looking for, please contact us. Friday Harbor, WA, USA"
preloadImg: '../../assets/images/desktop-final/landing.webp'
permalink: 'services/'
eleventyNavigation:
    key: Services
    order: 300
---

{% extends "layouts/base.html" %}

{% block head %}
<link rel="stylesheet" href="/assets/css/services.css">
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-1106-1112">
    <div class="cs-container">
        <span class="cs-int-title">Services</span>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="../../assets/images/mobile-cropped-compressed/landing-m.webp">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="../../assets/images/desktop-final/landing.webp">
        <img decoding="async" src="../../assets/images/desktop-final/landing.webp" alt="mechanic" width="1280" height="568" aria-hidden="true">
    </picture>
</div>

<!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->
{% set imageDimensions = [
    { "width": 424, "height": 190 },
    { "width": 571, "height": 390 },
    { "width": 268, "height": 190 },
    { "width": 268, "height": 190 },
    { "width": 268, "height": 390 },
    { "width": 425, "height": 390 },
    { "width": 273, "height": 190 },
    { "width": 273, "height": 190 },
    { "width": 268, "height": 390 },
    { "width": 268, "height": 390 },
    { "width": 268, "height": 190 }
  ] %}
{% for item in collections.services_gallery %}
{% if item.data.title == "Our Gallery" %}
<section id="gallery-434">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">{{item.data.topper}}</span>
            <h2 class="cs-title">{{item.data.title}}</h2>
            </div>
        <div class="cs-grid">
            {% for image in item.data.gallery_images %}
            {% set dimensions = imageDimensions[loop.index0] %}
            <picture class="cs-picture cs-picture{{loop.index}}">
                <source media="(max-width: 600px)" srcset="{{image.mobile_image}}">
                <source media="(min-width: 601px)" srcset="{{image.desktop_image}}">
                <img loading="lazy" decoding="async" src="{{image.desktop_image}}" alt="{{image.image_alt}}" width="{{ dimensions.width }}" height="{{ dimensions.height }}">
            </picture>
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}
{% endfor %}
<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->
{% for item in collections.services %}
{% if item.data.title == "Landscape & Garden Services in Friday Harbor, WA, USA" %}
<section id="services-447">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">{{ item.data.topper }}</span>
            <h2 class="cs-title">{{item.data.title}}</h2>
            <p class="cs-text">
                {{ item.data.description}}
            </p>
        </div>
        <ul class="cs-card-group">
            {% for service in item.data.services_list %}
            <li class="cs-item">
                <div class="cs-box">
                    <h3 class="cs-h3">{{service.service_title}} </h3>
                    <p class="cs-item-text">{{service.service_description}}
                    </p>
                </div>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="{{service.mobile_image}}">
                    <source media="(min-width: 601px)" srcset="{{service.desktop_image}}">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="{{service.desktop_image}}" alt="{{service.image_alt}}" width="345" height="428">
                </picture>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>
{% endif %}
{% endfor %}

{% include 'components/cta.html' %}
{% endblock %}
