@media only screen and (min-width: 0rem) {
  .cs-text {
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    text-align: inherit;
    width: 100%;
    max-width: 40.625rem;
    margin: 0;
    color: var(--bodyTextColorBlack);
  }
  .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875em, 5.5vw, 3.5em);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #fff;
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: var(--primary);
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
  .cs-button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  .cs-button-solid:hover:before {
    width: 100%;
  }
}
/*-- -------------------------- -->
<---          Banner            -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #banner-1106-1112 {
    padding: var(--sectionPadding);
    padding-top: 15.625rem;
    padding-bottom: 7.5rem;
    /* clips the line from causing overflow issues for going off screen */
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  #banner-1106-1112 .cs-container {
    text-align: center;
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 0.75rem;
  }
  #banner-1106-1112 .cs-int-title {
    /* 39px - 61px */
    font-size: clamp(2.4375rem, 6.4vw, 3.8125rem);
    font-weight: 900;
    line-height: 1.2em;
    text-align: inherit;
    margin: 0;
    color: var(--bodyTextColorWhite);
    position: relative;
  }
  #banner-1106-1112 .cs-breadcrumbs {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #banner-1106-1112 .cs-link {
    font-size: 1rem;
    line-height: 1.2em;
    text-decoration: none;
    color: var(--bodyTextColorWhite);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #banner-1106-1112 .cs-link:last-of-type {
    /* remove the chevron on the last list item */
  }
  #banner-1106-1112 .cs-link:last-of-type::after {
    display: none;
  }
  #banner-1106-1112 .cs-link:after {
    /* chevron */
    content: "";
    width: 0.4375rem;
    height: 0.75rem;
    margin: 0 1rem;
    background: url("https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/white-chev.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: block;
  }
  #banner-1106-1112 .cs-link.cs-active {
    color: var(--secondary);
  }
  #banner-1106-1112 .cs-background {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #banner-1106-1112 .cs-background:before {
    /* background color overlay */
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: -moz-linear-gradient(left, rgba(26, 26, 26, 0.94) 0%, rgba(26, 26, 26, 0) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(26, 26, 26, 0.94) 0%, rgba(26, 26, 26, 0) 100%);
    /* Chrome10-25,Safari5.1-6 */
    opacity: 1;
    top: 0;
    left: 0;
    z-index: 1;
  }
  #banner-1106-1112 .cs-background img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* Makes img tag act as a background image */
    object-fit: cover;
  }
}
/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbs-1095-1112 {
    padding: var(--sectionPadding);
  }
  #sbs-1095-1112 .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #sbs-1095-1112 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 32.625rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #sbs-1095-1112 .cs-text {
    color: var(--bodyTextColorBlack);
    margin-bottom: 1rem;
  }
  #sbs-1095-1112 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #sbs-1095-1112 .cs-list {
    max-width: 39.375rem;
    margin: 0 0 2rem 0;
    padding: 0;
    /* clips the bullets to create the half circle */
    overflow: hidden;
  }
  #sbs-1095-1112 .cs-li {
    list-style: none;
    margin: 0 0 0.5rem 0;
    color: var(--bodyTextColorBlack);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.75rem;
    position: relative;
  }
  #sbs-1095-1112 .cs-li:before {
    /* bullet */
    content: "";
    width: 1rem;
    height: 1rem;
    margin-top: 0.1875rem;
    /* make it overflow the parent by half it's width to make an eclipse */
    margin-left: -0.5rem;
    background: var(--primary);
    border-radius: 50%;
    display: block;
    /* prevents flexbox from squishing it */
    flex: none;
  }
  #sbs-1095-1112 .cs-info {
    width: 100%;
    padding-top: 2rem;
    border-top: 1px solid #e8e8e8;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.75rem;
    position: relative;
  }
  #sbs-1095-1112 .cs-icon {
    width: 3.25rem;
    height: auto;
    display: block;
    transition: transform 0.3s;
  }
  #sbs-1095-1112 .cs-flex {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.25rem;
  }
  #sbs-1095-1112 .cs-name {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 4vw, 1.5625rem);
    line-height: 1.2em;
    font-weight: 700;
    margin: 0;
    color: var(--headerColor);
    display: block;
  }
  #sbs-1095-1112 .cs-desc {
    font-size: 0.875rem;
    line-height: 1.5em;
    margin: 0;
    color: var(--bodyTextColor);
    display: block;
  }
  #sbs-1095-1112 .cs-image-group {
    /* scales the whole group based on the view width size and stop when that vales equals .789em, resets at desktop */
    font-size: min(2.09vw, .789em);
    width: 43.375em;
    height: 43em;
    display: block;
    position: relative;
    z-index: 1;
  }
  #sbs-1095-1112 .cs-picture {
    width: 33.875em;
    height: 38em;
    position: absolute;
    bottom: 0;
    left: 5.5em;
    z-index: -1;
  }
  #sbs-1095-1112 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    border-radius: 1.25rem;
  }
  #sbs-1095-1112 .cs-stripes {
    width: 32.625em;
    height: auto;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
  }
  #sbs-1095-1112 .cs-graphic {
    width: 11.5em;
    height: auto;
    display: block;
    position: absolute;
    bottom: 5em;
    right: 0;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sbs-1095-1112 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  #sbs-1095-1112 .cs-image-group {
    font-size: min(1.2vw, 1em);
    flex: none;
  }
}
/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbsr-1100-1112 {
    padding: var(--sectionPadding);
    background-color: #f7f7f7;
  }
  #sbsr-1100-1112 .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #sbsr-1100-1112 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 32.625rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #sbsr-1100-1112 .cs-text {
    color: var(--bodyTextColorBlack);
    margin-bottom: 1rem;
  }
  #sbsr-1100-1112 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #sbsr-1100-1112 .cs-link {
    font-size: 1rem;
    line-height: 1.2em;
    text-decoration: none;
    color: var(--bodyTextColorBlack);
  }
  #sbsr-1100-1112 .cs-link:hover {
    color: var(--primary);
  }
  #sbsr-1100-1112 .cs-ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
  }
  #sbsr-1100-1112 .cs-li {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  #sbsr-1100-1112 .cs-h3 {
    /* 20px - 25px */
    font-size: 1.25rem, 3vw, 1.5625rem;
    line-height: 1.2em;
    font-weight: 700;
    margin: 0 0 0.75rem;
  }
  #sbsr-1100-1112 .cs-li-text {
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    text-align: inherit;
    width: 100%;
    max-width: 39.375rem;
    margin: 0;
    color: var(--bodyTextColorBlack);
  }
  #sbsr-1100-1112 .cs-image-group {
    /* scales the whole group based on the view width size and stop when that vales equals .8em, resets at desktop */
    font-size: min(2.235vw, .8em);
    width: 40.5em;
    height: 37.125em;
    display: block;
    position: relative;
    z-index: 1;
  }
  #sbsr-1100-1112 .cs-picture {
    position: absolute;
  }
  #sbsr-1100-1112 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 1.25rem;
  }
  #sbsr-1100-1112 .cs-picture1 {
    width: 20.1875em;
    height: 27.9375em;
    top: 0;
    right: 0;
    z-index: 10;
  }
  #sbsr-1100-1112 .cs-picture2 {
    width: 19.0625em;
    height: 27.5625em;
    bottom: 0;
    left: 0;
  }
  #sbsr-1100-1112 .cs-stripes {
    width: 34.25em;
    height: auto;
    display: block;
    position: absolute;
    top: 5em;
    left: 2.5em;
    z-index: -1;
  }
  #sbsr-1100-1112 .cs-graphic {
    width: 11.5em;
    height: auto;
    position: absolute;
    bottom: 5em;
    left: 13.875em;
    z-index: 10;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sbsr-1100-1112 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  #sbsr-1100-1112 .cs-image-group {
    font-size: min(1.2vw, 1em);
    flex: none;
    /* sends it to the right in the 2nd position */
    order: 2;
  }
}
/*-- -------------------------- -->
<---           Logos            -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #logos-1896 {
    /* 60px - 120px top & bottom */
    /* 16px - 40px left & right */
    padding: clamp(3.75rem, 8vw, 7.5rem) clamp(1rem, 2vw, 2.5rem);
    background-color: var(--primary);
  }
  #logos-1896 .cs-container {
    text-align: center;
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #logos-1896 .cs-title {
    font-size: 1.5625rem;
    font-weight: 700;
    margin: 0;
    color: var(--primaryLight);
  }
  #logos-1896 .cs-text {
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    text-align: inherit;
    width: 100%;
    max-width: 40.625rem;
    margin: 0;
    color: var(--bodyTextColorWhite);
  }
  #logos-1896 .cs-logo-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-self: stretch;
  }
  #logos-1896 .cs-logo {
    width: 100%;
    max-width: 12.5rem;
    height: auto;
    margin: 0;
    display: block;
  }
  #logos-1896 .cs-logo-link {
    display: inline-block;
    max-width: 12.5rem;
    height: auto;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #logos-1896 .cs-logo {
    width: 100%;
    /* the max width becomes whatever the actual width of the image is */
    max-width: max-content;
  }
}
/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
  #logos-1896 .cs-logo-wrapper {
    justify-content: space-between;
  }
}
