---
title: 'Pixel Perfect Websites | Code Stitch Web Designs | Denver, CO'
description: 'Meta description for the page'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
tags: 'sitemap'
eleventyNavigation:
key: Home
order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
<link rel="stylesheet" href="/assets/css/local.css" />
<link rel="stylesheet" href="/assets/css/critical.css" />
<!-- Script for Netlify Identity -->
<script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
<script defer>
    if (window.netlifyIdentity) {
        window
            .netlifyIdentity
            .on('init', (user) => {
                if (!user) {
                    window
                        .netlifyIdentity
                        .on('login', () => {
                            document.location.href = '/admin/';
                        });
                }
            });
    }
</script>

<!-- JSON Schema Markup -->
<script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "LocalBusiness",
            "name": "{{ client.name }}",
            {% if preloadImg %}"image": "{{ preloadImg }}",{% endif %}
            {% if client.phoneFormatted %}"telephone": "{{ client.phoneFormatted }}",{% endif %}
            {% if client.email %}"email": "{{ client.email }}",{% endif %}
            {% if client.address %}
                "address": {
                    "@type": "PostalAddress"{% if client.address.lineOne %},
                        "streetAddress": "{{ client.address.lineOne }}{% if client.address.lineTwo %}, {{ client.address.lineTwo }}{% endif %}"
                    {% endif %}
                    {% if client.address.city %},
                        "addressLocality": "{{ client.address.city }}"
                    {% endif %}
                    {% if client.address.state %},
                        "addressRegion": "{{ client.address.state }}"
                    {% endif %}
                    {% if client.address.zip %},
                        "postalCode": "{{ client.address.zip }}"
                    {% endif %}
                    {% if client.address.country %},
                        "addressCountry": "{{ client.address.country }}"
                    {% endif %}
                },
            {% endif %}
            {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
            {% if client.socials %}
                "sameAs": [{% for platform, url in client.socials %}
                        {% if not loop.first %},{% endif %}
                        "{{ url }}"
                    {% endfor %}]
            {% endif %}
        }
    </script>
{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1621">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">
                <svg class="cs-chevron" width="49" height="15" viewBox="0 0 49 15" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <g opacity="0.7">
                        <path
                            d="M0.621948 7.49889L6.40262 15L10.343 15L4.56231 7.49889L10.343 -4.2492e-07L6.40262 -2.52681e-07L0.621948 7.49889Z"
                            fill="var(--chevronColor)" />
                        <path
                            d="M7.62195 7.49889L13.4026 15L17.343 15L11.5623 7.49889L17.343 -4.2492e-07L13.4026 -2.52681e-07L7.62195 7.49889Z"
                            fill="var(--chevronColor)" />
                        <path
                            d="M14.7789 7.49889L20.5596 15L24.5 15L18.7193 7.49889L24.5 -4.2492e-07L20.5596 -2.52681e-07L14.7789 7.49889Z"
                            fill="var(--chevronColor)" />
                        <path
                            d="M22.7789 7.49889L28.5596 15L32.5 15L26.7193 7.49889L32.5 -4.2492e-07L28.5596 -2.52681e-07L22.7789 7.49889Z"
                            fill="var(--chevronColor)" />
                        <path
                            d="M30.7789 7.49889L36.5596 15L40.5 15L34.7193 7.49889L40.5 -4.2492e-07L36.5596 -2.52681e-07L30.7789 7.49889Z"
                            fill="var(--chevronColor)" />
                        <path
                            d="M38.7789 7.49889L44.5596 15L48.5 15L42.7193 7.49889L48.5 -4.2492e-07L44.5596 -2.52681e-07L38.7789 7.49889Z"
                            fill="var(--chevronColor)" />
                    </g>
                </svg>
                Plan for native future
                <svg class="cs-chevron" width="49" height="15" viewBox="0 0 49 15" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <g opacity="0.7">
                        <path
                            d="M48.3781 7.49889L42.5974 15L38.657 15L44.4377 7.49889L38.657 -4.2492e-07L42.5974 -2.52681e-07L48.3781 7.49889Z"
                            fill="var(--chevronColor)" />
                        <path
                            d="M41.3781 7.49889L35.5974 15L31.657 15L37.4377 7.49889L31.657 -4.2492e-07L35.5974 -2.52681e-07L41.3781 7.49889Z"
                            fill="var(--chevronColor)" />
                        <path
                            d="M34.2211 7.49889L28.4404 15L24.5 15L30.2807 7.49889L24.5 -4.2492e-07L28.4404 -2.52681e-07L34.2211 7.49889Z"
                            fill="var(--chevronColor)" />
                        <path
                            d="M26.2211 7.49889L20.4404 15L16.5 15L22.2807 7.49889L16.5 -4.2492e-07L20.4404 -2.52681e-07L26.2211 7.49889Z"
                            fill="var(--chevronColor)" />
                        <path
                            d="M18.2211 7.49889L12.4404 15L8.50004 15L14.2807 7.49889L8.50004 -4.2492e-07L12.4404 -2.52681e-07L18.2211 7.49889Z"
                            fill="var(--chevronColor)" />
                        <path
                            d="M10.2211 7.49889L4.4404 15L0.500041 15L6.28071 7.49889L0.500042 -4.2492e-07L4.4404 -2.52681e-07L10.2211 7.49889Z"
                            fill="var(--chevronColor)" />
                    </g>
                </svg>
            </span>
            <h1 class="cs-title">
                Restorative strategies and practices for thriving landscapes and gardens</h1>
            <a href="" class="cs-button-solid">Get Started</a>
            <!--Bottom Corners-->
            <div class="cs-corners" aria-hidden="true"></div>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <h3 class="cs-h3">100% Success Rate</h3>
                <p class="cs-item-text">
                    We provide some of the finest quality, most responsive and reliable, and cost effective services and
                    solutions.
                </p>
            </li>
            <li class="cs-item">
                <h3 class="cs-h3">Expert Legal Services</h3>
                <p class="cs-item-text">
                    We provide some of the finest quality, most responsive and reliable, and cost effective services and
                    solutions.
                </p>
            </li>
            <li class="cs-item">
                <h3 class="cs-h3">Highly Recommend</h3>
                <p class="cs-item-text">
                    We provide some of the finest quality, most responsive and reliable, and cost effective services and
                    solutions.
                </p>
            </li>
            <li class="cs-item">
                <h3 class="cs-h3">Highly Recommend</h3>
                <p class="cs-item-text">
                    We provide some of the finest quality, most responsive and reliable, and cost effective services and
                    solutions.
                </p>
            </li>
        </ul>
    </div>

    <!-- Background Image -->
    <picture class="cs-background">
        <source media="(max-width: 600px)"
            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/meeting-2-m.jpeg">
        <source media="(min-width: 601px)"
            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/meeting-2.jpeg">
        <img loading="lazy" decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/meeting-2.jpeg" alt="meeting" width="1920"
            height="1200" aria-hidden="true">
    </picture>
</section>
<!-- ============================================ -->
<!--                Side by Side                  -->
<!-- ============================================ -->

<section id="sbs-1883">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">About us</span>
                <h2 class="cs-title">Ethical Landscapes for Future Generations</h2>
            </div>
            <p class="cs-text-large">
                At Cedar and Salt, we harmonize landscape aesthetics with the needs of the earth and its inhabitants of all species.  We work in a spirit of collaboration and respect with clients to help them create a lasting beauty that they can enjoy, and that has value and impact beyond their lifetime.
            </p>
            <p class="cs-text-large">
                Cedar and Salt Landscape and Gardens was founded upon these principles:
            </p>
            <ul class="cs-ul">
                <li class="cs-li">
                    We have a responsibility to the planet and to future generations to practice restorative, ethical landscaping and planting.
                </li>
                <li class="cs-li">
                    Partnering with private citizens, government agencies and organizations to find solutions for our shared environment ensures that together we will have greater impact than if we operate in isolation.
                </li>
                <li class="cs-li">
                    When we restore and create beautiful landscapes and urban plantings, we contribute to a more peaceful world.
                </li>
            </ul>
            <a href="" class="cs-button-solid">More about us</a>
        </div>
        <div class="cs-image-group">
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/derma-sbs-1.png">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/derma-sbs-1.png">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/derma-sbs-1.png" alt="dermatologist" width="324" height="467">
            </picture>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                  Gallery                     -->
<!-- ============================================ -->

<section id="gallery-483">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Gallery</span>
            <h2 class="cs-title">See Our Gallery Collections</h2>
            <p class="cs-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut. 
            </p>
            <a href="" class="cs-cta">
                <!--Arrow Right-->
                <svg class="cs-arrow" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none"><path fill="#FAFBFC" d="M24.55 31.367c-.317 0-.633-.117-.883-.367a1.258 1.258 0 0 1 0-1.767L32.9 20l-9.233-9.233a1.258 1.258 0 0 1 0-1.767 1.258 1.258 0 0 1 1.766 0L35.55 19.117a1.258 1.258 0 0 1 0 1.766L25.433 31c-.25.25-.566.367-.883.367Z"/><path fill="#FAFBFC" d="M34.383 21.25H6.333A1.26 1.26 0 0 1 5.083 20c0-.683.567-1.25 1.25-1.25h28.05c.684 0 1.25.567 1.25 1.25a1.26 1.26 0 0 1-1.25 1.25Z"/></svg>
                <!--Wrapped in a span so it can be animated-->
                <span class="cs-cta-text">Discover<br> More</span>
            </a>
            <picture class="cs-content-picture">
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg">
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg" alt="yard" width="630" height="532">
            </picture>
        </div>
        <div class="cs-grid">
            <picture class="cs-picture cs-picture1">
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg">
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg" alt="yard" width="305" height="522">
            </picture>
            <picture class="cs-picture cs-picture2">
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg">
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg" alt="yard" width="305" height="348">
            </picture>
            <picture class="cs-picture cs-picture3">
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg">
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg" alt="yard" width="305" height="387">
            </picture>
            <picture class="cs-picture cs-picture4">
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg">
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg" alt="yard" width="305" height="483">
            </picture>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-1014">
    <div class="cs-container">
        <!-- Left Image Section -->
        <div class="cs-image-group">
            <picture class="cs-picture cs-picture1">
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/breakfast1.jpg">
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/breakfast1.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/breakfast1.jpg" alt="breakfast" width="522" height="581" aria-hidden="true">
            </picture>
            <picture class="cs-picture cs-picture2">
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/breakfast2.jpg">
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/breakfast2.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/breakfast2.jpg" alt="breakfast" width="414" height="400" aria-hidden="true">
            </picture>
        </div>
        <!-- Right Content Section-->
        <div class="cs-content">
            <span class="cs-topper">About us</span>
            <h2 class="cs-title">About the founder</h2>
            <p class="cs-text">
                Kiara McLaughlin has always felt a deep connection to Cedar trees, the Nootka Rose, Magnolia Blossoms and Lavender. The Cedar of Lebanon the “tree of her heart.” Being in the PNW, she enjoys the abundance of the Western Red Cedar trees as they are close. She also respects the natural beings and has always been keenly aware of the joy experienced with deep connection with the natural world and celebrates the abundance of growing research regarding the benefits nature has upon overall human health and well-being.
            </p>
            <p class="cs-text">
                Her passion is sharing this connection of benefits and knowledge she has acquired from years of learning the best practices in harmonious, sustainable landscaping and gardening. Her vision of Cedar & Salt is grounded in this passion and the guiding principles through which the company stands for.
            </p>
            <a href="" class="cs-button-solid">More about us</a>
        </div>
    </div>
</section>

{% include 'components/cta.html' %}
{% endblock %}
