---
title: 'Home | Cedar & Salt Landscape and Gardens | Friday Harbor, WA'
description: 'Cedar & Salt Landscape and Gardens is a full-service landscaping company in Friday Harbor, WA. We specialize in landscape design, garden maintenance, and more. Contact us today!'
preloadImg: '/assets/images/desktop-final/landing.webp'
permalink: '/'
tags: 'sitemap'
eleventyNavigation:
key: Home
order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
<link rel="stylesheet" href="/assets/css/local.css" />
<link rel="stylesheet" href="/assets/css/critical.css" />
<!-- Script for Netlify Identity -->
<script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
<script defer>
    if (window.netlifyIdentity) {
        window
            .netlifyIdentity
            .on('init', (user) => {
                if (!user) {
                    window
                        .netlifyIdentity
                        .on('login', () => {
                            document.location.href = '/admin/';
                        });
                }
            });
    }
</script>

<!-- JSON Schema Markup -->
<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "LocalBusiness",
        "name": "{{ client.name }}",
        {% if preloadImg %}"image": "{{ preloadImg }}",{% endif %}
        {% if client.phoneFormatted %}"telephone": "{{ client.phoneFormatted }}",{% endif %}
        {% if client.email %}"email": "{{ client.email }}",{% endif %}
        {% if client.address %}
        "address": {
            "@type": "PostalAddress"
            {% if client.address.lineOne %},
            "streetAddress": "{{ client.address.lineOne }}{% if client.address.lineTwo %}, {{ client.address.lineTwo }}{% endif %}"
            {% endif %}
            {% if client.address.city %},
            "addressLocality": "{{ client.address.city }}"
            {% endif %}
            {% if client.address.state %},
            "addressRegion": "{{ client.address.state }}"
            {% endif %}
            {% if client.address.zip %},
            "postalCode": "{{ client.address.zip }}"
            {% endif %}
            {% if client.address.country %},
            "addressCountry": "{{ client.address.country }}"
            {% endif %}
        }
        {% endif %}
        {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}"{% endif %}
        {% if client.socials %},
        "sameAs": [{% for platform, url in client.socials %}
            {% if not loop.first %},{% endif %}
            "{{ url }}"
        {% endfor %}]
        {% endif %}
    }
    </script>
{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->
{% for item in collections.hero %}
{% if item.data.title == "Restorative strategies and practices for thriving landscapes and gardens" %}
<section id="hero-1621">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">
                <svg class="cs-chevron" width="49" height="15" viewBox="0 0 49 15" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <g opacity="0.7">
                        <path
                            d="M0.621948 7.49889L6.40262 15L10.343 15L4.56231 7.49889L10.343 -4.2492e-07L6.40262 -2.52681e-07L0.621948 7.49889Z"
                            fill="var(--chevronColor)" />
                        <path
                            d="M7.62195 7.49889L13.4026 15L17.343 15L11.5623 7.49889L17.343 -4.2492e-07L13.4026 -2.52681e-07L7.62195 7.49889Z"
                            fill="var(--chevronColor)" />
                        <path
                            d="M14.7789 7.49889L20.5596 15L24.5 15L18.7193 7.49889L24.5 -4.2492e-07L20.5596 -2.52681e-07L14.7789 7.49889Z"
                            fill="var(--chevronColor)" />
                        <path
                            d="M22.7789 7.49889L28.5596 15L32.5 15L26.7193 7.49889L32.5 -4.2492e-07L28.5596 -2.52681e-07L22.7789 7.49889Z"
                            fill="var(--chevronColor)" />
                        <path
                            d="M30.7789 7.49889L36.5596 15L40.5 15L34.7193 7.49889L40.5 -4.2492e-07L36.5596 -2.52681e-07L30.7789 7.49889Z"
                            fill="var(--chevronColor)" />
                        <path
                            d="M38.7789 7.49889L44.5596 15L48.5 15L42.7193 7.49889L48.5 -4.2492e-07L44.5596 -2.52681e-07L38.7789 7.49889Z"
                            fill="var(--chevronColor)" />
                    </g>
                </svg>
                {{ item.data.topper }}
                <svg class="cs-chevron" width="49" height="15" viewBox="0 0 49 15" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <g opacity="0.7">
                        <path
                            d="M48.3781 7.49889L42.5974 15L38.657 15L44.4377 7.49889L38.657 -4.2492e-07L42.5974 -2.52681e-07L48.3781 7.49889Z"
                            fill="var(--chevronColor)" />
                        <path
                            d="M41.3781 7.49889L35.5974 15L31.657 15L37.4377 7.49889L31.657 -4.2492e-07L35.5974 -2.52681e-07L41.3781 7.49889Z"
                            fill="var(--chevronColor)" />
                        <path
                            d="M34.2211 7.49889L28.4404 15L24.5 15L30.2807 7.49889L24.5 -4.2492e-07L28.4404 -2.52681e-07L34.2211 7.49889Z"
                            fill="var(--chevronColor)" />
                        <path
                            d="M26.2211 7.49889L20.4404 15L16.5 15L22.2807 7.49889L16.5 -4.2492e-07L20.4404 -2.52681e-07L26.2211 7.49889Z"
                            fill="var(--chevronColor)" />
                        <path
                            d="M18.2211 7.49889L12.4404 15L8.50004 15L14.2807 7.49889L8.50004 -4.2492e-07L12.4404 -2.52681e-07L18.2211 7.49889Z"
                            fill="var(--chevronColor)" />
                        <path
                            d="M10.2211 7.49889L4.4404 15L0.500041 15L6.28071 7.49889L0.500042 -4.2492e-07L4.4404 -2.52681e-07L10.2211 7.49889Z"
                            fill="var(--chevronColor)" />
                    </g>
                </svg>
            </span>
            <h1 class="cs-title">
                {{ item.data.title }}</h1>
            <a href="/contact" class="cs-button-solid">{{ item.data.buttonText }}</a>
            <!--Bottom Corners-->
            <div class="cs-corners" aria-hidden="true"></div>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <h2 class="cs-h2">{{ item.data.service1Title }}</h2>
                <p class="cs-item-text">
                    {{ item.data.service1Text }}
                </p>
            </li>
            <li class="cs-item">
                <h2 class="cs-h2">{{ item.data.service2Title }}</h2>
                <p class="cs-item-text">
                    {{ item.data.service2Text }}
                </p>
            </li>
            <li class="cs-item">
                <h2 class="cs-h2">{{ item.data.service3Title }}</h2>
                <p class="cs-item-text">
                    {{ item.data.service3Text }}
                </p>
            </li>
            <li class="cs-item">
                <h2 class="cs-h2">{{ item.data.service4Title }}</h2>
                <p class="cs-item-text">
                    {{ item.data.service4Text }}
                </p>
            </li>
        </ul>
    </div>

    <!-- Background Image -->
    <picture class="cs-background">
        <source media="(max-width: 600px)"
            srcset="{{ item.data.mobileImage }}">
        <source media="(min-width: 601px)"
            srcset="{{ item.data.image }}">
        <img decoding="async"
            src="{{ item.data.image }}" alt="{{ item.data.imageAlt }}" width="1920"
            height="1200" aria-hidden="true">
    </picture>
</section>
{% endif %}
{% endfor %}
<!-- ============================================ -->
<!--                Side by Side                  -->
<!-- ============================================ -->

{% for item in collections.about %}
{% if item.data.title == "Ethical Landscapes for Future Generations" %}
<section id="sbs-1883">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">{{ item.data.topper }}</span>
                <h2 class="cs-title">{{  item.data.heading }}</h2>
            </div>
            <p class="cs-text-large">
                {{ item.data.text }}
            </p>
            <p class="cs-text-large">
                {{ item.data.heading}}
            </p>
            <ul class="cs-ul">
                {% for listItem in item.data.listItems %}
                <li class="cs-li">
                    {{ listItem }}
                </li>
                {% endfor %}
            </ul>
            <a href="/about" class="cs-button-solid">{{ item.data.buttonText }}</a>
        </div>
        <div class="cs-image-group">
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="{{ item.data.mobileImage }}">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="{{ item.data.image }}">
                <img loading="lazy" decoding="async" src="{{ item.data.image }}" alt="{{ item.data.imageAlt }}" width="324" height="467">
            </picture>
        </div>
    </div>
</section>
{% endif %}
{% endfor %}
<!-- ============================================ -->
<!--                  Gallery                     -->
<!-- ============================================ -->
{% for item in collections.gallery %}
{% if item.data.title == "See Our Gallery" %}
<section id="gallery-483">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">{{ item.data.topper }}</span>
            <h2 class="cs-title">{{ item.data.title }}</h2>
            <p class="cs-text">
                {{ item.data.text }}
            </p>
            <a href="/services" class="cs-cta">
                <!--Arrow Right-->
                <svg class="cs-arrow" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none"><path fill="#FAFBFC" d="M24.55 31.367c-.317 0-.633-.117-.883-.367a1.258 1.258 0 0 1 0-1.767L32.9 20l-9.233-9.233a1.258 1.258 0 0 1 0-1.767 1.258 1.258 0 0 1 1.766 0L35.55 19.117a1.258 1.258 0 0 1 0 1.766L25.433 31c-.25.25-.566.367-.883.367Z"/><path fill="#FAFBFC" d="M34.383 21.25H6.333A1.26 1.26 0 0 1 5.083 20c0-.683.567-1.25 1.25-1.25h28.05c.684 0 1.25.567 1.25 1.25a1.26 1.26 0 0 1-1.25 1.25Z"/></svg>
                <!--Wrapped in a span so it can be animated-->
                <span class="cs-cta-text">{{ item.data.buttonText }}</span>
            </a>
            <picture class="cs-content-picture">
                <source media="(max-width: 600px)" srcset="{{ item.data.mobileImage1 }}">
                <source media="(min-width: 601px)" srcset="{{ item.data.image1 }}">
                <img loading="lazy" decoding="async" src="{{ item.data.image1 }}" alt="{{ item.data.imageAlt1 }}" width="630" height="532">
            </picture>
        </div>
        <div class="cs-grid">
            <picture class="cs-picture cs-picture1">
                <source media="(max-width: 600px)" srcset="{{ item.data.mobileImage2 }}">
                <source media="(min-width: 601px)" srcset="{{ item.data.image2 }}">
                <img loading="lazy" decoding="async" src="{{ item.data.image2 }}" alt="{{ item.data.imageAlt2 }}" width="305" height="522">
            </picture>
            <picture class="cs-picture cs-picture2">
                <source media="(max-width: 600px)" srcset="{{ item.data.mobileImage3 }}">
                <source media="(min-width: 601px)" srcset="{{ item.data.image3 }}">
                <img loading="lazy" decoding="async" src="{{ item.data.image3 }}" alt="{{ item.data.imageAlt3 }}" width="305" height="348">
            </picture>
            <picture class="cs-picture cs-picture3">
                <source media="(max-width: 600px)" srcset="{{ item.data.mobileImage4 }}">
                <source media="(min-width: 601px)" srcset="{{ item.data.image4 }}">
                <img loading="lazy" decoding="async" src="{{ item.data.image4 }}" alt="{{ item.data.imageAlt4 }}" width="305" height="387">
            </picture>
            <picture class="cs-picture cs-picture4">
                <source media="(max-width: 600px)" srcset="{{ item.data.mobileImage5 }}">
                <source media="(min-width: 601px)" srcset="{{ item.data.image5 }}">
                <img loading="lazy" decoding="async" src="{{ item.data.image5 }}" alt="{{ item.data.imageAlt5 }}" width="305" height="483">
            </picture>
        </div>
    </div>
</section>
{% endif %}
{% endfor %}

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->
{% for item in collections.about2 %}
{% if item.data.title == "About the founder" %}
<section id="sbs-1014">
    <div class="cs-container">
        <!-- Left Image Section -->
        <div class="cs-image-group">
            <picture class="cs-picture cs-picture1">
                <source media="(max-width: 600px)" srcset="{{ item.data.mobileImage1 }}">
                <source media="(min-width: 601px)" srcset="{{ item.data.image1 }}">
                <img loading="lazy" decoding="async" src="{{ item.data.image1 }}" alt="{{ item.data.imageAlt1 }}" width="522" height="581" aria-hidden="true">
            </picture>
            <picture class="cs-picture cs-picture2">
                <source media="(max-width: 600px)" srcset="{{ item.data.mobileImage2 }}">
                <source media="(min-width: 601px)" srcset="{{ item.data.image2 }}">
                <img loading="lazy" decoding="async" src="{{ item.data.image2 }}" alt="{{ item.data.imageAlt2 }}" width="414" height="400" aria-hidden="true">
            </picture>
        </div>
        <!-- Right Content Section-->
        <div class="cs-content">
            <span class="cs-topper">{{ item.data.topper }}</span>
            <h2 class="cs-title">{{ item.data.title }}</h2>
            <p class="cs-text">
                {{ item.data.text1 }}
            </p>
            <p class="cs-text">
                {{ item.data.text2 }}
            </p>
            <a href="/about" class="cs-button-solid">{{ item.data.buttonText }}</a>
        </div>
    </div>
</section>
{% endif %}
{% endfor %}

{% include 'components/cta.html' %}
{% endblock %}
